<%- include ./_header.ejs %>

    <div class="container-fluid">
        
        <p>
            <img src="img/trex.png" id="trex">
            <span class="hello">
                Hello GroundFloor! &nbsp;Here is an autocomplete widget built with React
            </span>
        </p>
        <hr>
        <div id="app"></div>
    </div>

<%- include ./_footer.ejs %>